html{
  background-color: #B0B8CC;
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

main{
  margin: 0;
}

body{
  margin: 1em;
}

header{
  background-color: #797E8C;
  margin: 0;
  border-radius: 0px;
  border: 5px solid #797E8C;
  font-family: 'Oswald', sans-serif;
  color: white;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

h2{
  font-family: 'Oswald', sans-serif;
  color: #42454C;
  text-align: left;
  font-size: 2.5rem;
}

h3{
  font-family: 'Oswald', sans-serif;
  color: white;
  text-align: left;
  font-size: 2.5rem;
  margin: 1rem;
}

a{
  background-color: #797E8C;
  display: block;
  color: #42454C;
  font-family: 'Oswald', sans-serif;
}

nav{
  background-color: #797E8C;
  text-align: center;
  margin: 0;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li{
  display: inline-block;
  margin: 0em 0em .25em 0em;
}

nav a{
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #42454C;
  color: #B0B8CC;
  text-decoration: none;
  border-radius: 4px;
  font-family: 'Oswald', sans-serif;
}

nav:hover{
  color: white;
}

ol {
  list-style-type: upper-roman;
  padding: 1em;
  line-height: 1.5;
  font-size: 1rem;
  color: #42454C;
}

ul {
  list-style: none;
  padding:0 0 0 1em;
  margin:0;
}

p{
  text-align: left;
  color: #42454C;
  font-family: 'Slabo 27px', serif;
  font-size: 1rem;
}

dl{
  text-align: left;
  color: #42454C;
  line-height: 2;
}
dd{
  margin:0;
  padding:0 0 2em 0;
  color: #636772;
}


data{
  line-height: 2;
}

blockquote{
  font-size: 1.7rem;
  color: white;
  font-style: italic;
  text-align: left;
  font-family: 'Slabo 27px', serif;}

blockquote span{
  color: #797F8C;
  font-size: 2.5rem;
}

div {
  font-size: .75rem;
  color: white;
  font-style: italic;
  text-align: right;
}

img{
  width: 100%;
  border: solid black;
  border-radius: 20px;
}

figure {
  border-radius: 20px;
  border: solid white;
  list-style-type: none;
  padding: 1.5em;
  background-color: #797E8C;
  text-align: center;
}
figcaption {
  color: #B0B8CC;
  font-style: italic;
  font-size: .75rem;

}

a {
  background-color: #797E8C;
  display: block;
  color: #42454C;
  font-family: 'Oswald', sans-serif;
}

a:hover {
  color: white;
}

footer{
  padding: 0 0 1em 0;
  margin: 0;
  background-color: #797E8C;
  text-align: left;
}

b{
  color: #848998;
}

b:hover{
  color: #2C2E32;
}
